body{ 
    background-image: url(../assets/background.png);
    background-size: 100%;
    background-repeat: repeat-y;
}
header{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 100px;
    padding: 2%;
    margin: 3%;
}
.games {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 100px;
    padding: 1%;
    margin: 3%;
}

.forms {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 200px;
    margin: 3%;
    padding: 5%;
    font-size: larger;
}
.forms  > * {
    padding: 1%;
}